@import url("https://fonts.googleapis.com/css?family=Varela+Round&subset=latin-ext");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Varela Round", sans-serif;
  background: url("../img/bg.png");
  color: #63707e;
  font-size: 16px; }

main {
  min-height: calc(100vh - 234px); }

h1,
h2,
h3,
h4 {
  margin-top: 0; }

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  outline: none; }

a {
  color: rgba(82, 93, 104, 0.7); }
  a:hover {
    color: #06BC9B; }

.main-header {
  position: relative;
  background-color: #F5F6F8;
  height: 146px; }
  .main-header .container {
    float: none;
    width: 960px;
    margin: auto; }
    .main-header .container .logo {
      float: left;
      margin-top: 31px; }
    .main-header .container .menu {
      display: block;
      float: right;
      margin-top: 61px; }
      .main-header .container .menu .menu-nav {
        align-items: left;
        list-style-type: none; }
        .main-header .container .menu .menu-nav .nav-item {
          float: left;
          display: inline;
          color: rgba(82, 93, 104, 0.7);
          font-size: 20px; }
          .main-header .container .menu .menu-nav .nav-item:not(:last-child) {
            margin-right: 15px; }

.main {
  padding: 2rem 0;
  min-height: calc(100vh - 120px); }
  .main .wrap {
    padding: 75px 0;
    margin-bottom: 35px;
    border-bottom: 1px solid #eaeaea;
    float: left;
    width: 100%; }
    .main .wrap .title {
      text-align: left;
      position: relative;
      float: none;
      width: 960px;
      margin: 0 auto; }
      .main .wrap .title h2 {
        font-weight: 300;
        font-size: 40px;
        line-height: 1.2; }
  .main .main-part {
    width: 960px;
    margin: 0 auto;
    overflow: auto; }
    .main .main-part .part {
      float: left;
      width: 680px;
      text-align: left; }
      .main .main-part .part form {
        margin-top: 15px;
        float: left;
        width: 100%; }
        .main .main-part .part form .form-name,
        .main .main-part .part form .form-email,
        .main .main-part .part form .form-phone,
        .main .main-part .part form .form-comment,
        .main .main-part .part form .form-submit {
          margin-bottom: 15px; }
        .main .main-part .part form input[type=text],
        .main .main-part .part form input[type=email],
        .main .main-part .part form input[type=phone] {
          background-color: #F5F6F8;
          border: 1px solid #d8d8d8;
          font-family: 'Varela Round', sans-serif;
          border-radius: 5px;
          outline: none;
          width: 70%;
          padding: 10px;
          font-size: 18px; }
        .main .main-part .part form textarea {
          background-color: #F5F6F8;
          resize: none;
          font-family: 'Varela Round', sans-serif;
          border: 1px solid #d8d8d8;
          border-radius: 5px;
          outline: none;
          width: 70%;
          padding: 10px;
          overflow: auto;
          font-size: 18px; }
        .main .main-part .part form .form-submit button[type=submit] {
          padding: 10px 30px;
          color: #06BC9B;
          border: 1px solid #06BC9B;
          text-transform: uppercase;
          font-family: 'Varela Round', sans-serif;
          font-weight: 700;
          border-radius: 5px;
          outline: none;
          letter-spacing: 1px;
          transition: all .3s;
          -webkit-transition: all .3s;
          -moz-transition: all .3s; }
          .main .main-part .part form .form-submit button[type=submit]:hover {
            background-color: #06BC9B;
            color: #ffff; }
    .main .main-part .sidebar {
      width: 235px;
      border-left: 1px solid #eaeaea;
      min-height: 550px;
      float: right;
      padding-top: 25px;
      padding-left: 20px; }
  .main h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #63707e;
    font-size: 1.5rem; }
  .main .row {
    background-color: #f5f6f8;
    padding: 25px 25px;
    width: 960px;
    margin: auto; }
    .main .row .projects {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem; }
      .main .row .projects .item {
        position: relative;
        overflow: hidden;
        text-align: center;
        border: 3px solid white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
        .main .row .projects .item .img-wrapper img {
          transition: 0.3s; }
          .main .row .projects .item .img-wrapper img:hover {
            transform: scale(1.1); }
        .main .row .projects .item img {
          width: 100%; }
        .main .row .projects .item .description {
          position: absolute;
          bottom: -54px;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          padding: .5rem;
          margin: 0;
          color: #fff;
          background-color: #06BC9B;
          width: 100%; }
        .main .row .projects .item:hover .description {
          bottom: 0; }

.main-footer {
  background-color: #33485F;
  width: 100%;
  float: left; }
  .main-footer .container {
    background-color: #2A3B4E;
    width: 960px;
    margin: 0 auto;
    text-align: center;
        /*.cell_1 {
                margin: 0 50px 0 0;
            }

            h2 {
                margin-top: 45px;
                margin-left: 25px;
                color: #ffffff;
                font-size: 2rem;
            }

            .buffer-top {
                margin-left: 25px;
                margin-top: 45px;
                margin-right: 25px;

                input[type=text],
                input[type=email],
                input[type=phone] {
                    display: block;
                    width: 100%;
                    background-color: #F5F6F8;
                    font-family: 'Varela Round', sans-serif;
                    padding: 10px 9px 9px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                }

                input[type=text],
                input[type=email] {
                    margin-bottom: 15px;
                }
            }

            .buffer-middle {
                margin-left: 25px;
                margin-right: 25px;

                textarea {
                    background-color: #F5F6F8;
                    width: 100%;
                    resize: none;
                    margin-top: 15px;
                    font-family: 'Varela Round', sans-serif;
                    padding: 10px 9px 0;
                    border: none;
                    border-radius: 5px;
                    outline: none;
                }
            }

            .send-left {
                margin-left: 25px;
                margin-bottom: 45px;

                input[type=submit] {
                    margin-top: 10px;
                    color: $link-hover;
                    border: 1px solid $link-hover;
                    padding: 9px 31px;
                    text-transform: uppercase;
                    font-family: 'Varela Round', sans-serif;
                    font-weight: 700;
                    border-radius: 5px;
                    outline: none;
                    letter-spacing: 1px;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                }

                .button {
                    &:hover {
                        background-color: $link-hover;
                        color: #ffffff;
                    }
                }
            } */ }
    .main-footer .container .soc-net {
      text-align: center;
      margin-bottom: 10px; }
      .main-footer .container .soc-net li {
        display: inline-block; }
        .main-footer .container .soc-net li a:hover {
          border-bottom: none; }
        .main-footer .container .soc-net li a img {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          margin-left: 10px;
          margin-top: 10px; }
          .main-footer .container .soc-net li a img:hover {
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            opacity: 0.7; }

.footer-bottom {
  text-align: center; }
  .footer-bottom > p {
    padding-bottom: 10px;
    font-size: 12px; }
  .footer-bottom .triangle {
    margin: auto;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #06BC9B; }
  .footer-bottom .back-to-top {
    position: relative; }
    .footer-bottom .back-to-top .fa {
      color: #ffffff;
      font-size: 18px;
      position: absolute;
      left: -8px;
      top: 10px; }
      .footer-bottom .back-to-top .fa:hover {
        color: #2A3B4E;
        transition: all .3s; }
      .footer-bottom .back-to-top .fa.fa-chevron-up {
        visibility: hidden; }

@media screen and (min-width: 400px) and (max-width: 768px) {
  /*Header style for media Sm */
  .main-header .container {
    float: left;
    width: 92%;
    padding: 0 4%; }
    .main-header .container .logo .logo-image {
      z-index: 1; }
    .main-header .container .menu-btn {
      position: absolute;
      z-index: 4;
      top: 59.5px;
      right: 10px;
      cursor: pointer;
      content: '';
      background: transparent;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease; }
      .main-header .container .menu-btn .btn-line {
        width: 30px;
        height: 4px;
        background: #06BC9B;
        margin-bottom: 5px;
        border-radius: 2px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease; }
      .main-header .container .menu-btn.close {
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        position: fixed; }
        .main-header .container .menu-btn.close .btn-line:nth-child(1) {
          transform: rotate(45deg) translate(7px, 5px); }
        .main-header .container .menu-btn.close .btn-line:nth-child(2) {
          opacity: 0; }
        .main-header .container .menu-btn.close .btn-line:nth-child(3) {
          transform: rotate(-45deg) translate(7.5px, -6px); }
    .main-header .container .menu {
      position: fixed;
      z-index: 1;
      background-color: #F5F6F8;
      padding-top: 126px;
      padding-right: 4%;
      padding-left: 4%;
      top: 0px;
      left: 0px;
      margin-top: 0;
      width: 100%;
      height: 100vh;
      float: none;
      visibility: hidden; }
      .main-header .container .menu.show {
        visibility: visible;
        display: block; }
      .main-header .container .menu .menu-nav {
        display: flex;
        flex-flow: column wrap;
        background-color: #F5F6F8;
        height: 100%;
        line-height: 100%;
        transform: translate3d(0, 0, 0); }
        .main-header .container .menu .menu-nav.show {
          transform: translate3d(0, 0, 0); }
        .main-header .container .menu .menu-nav .nav-item {
          font-size: 1.375rem;
          font-weight: 300;
          list-style: none; }
          .main-header .container .menu .menu-nav .nav-item:last-child {
            margin-right: 15px; }
          .main-header .container .menu .menu-nav .nav-item .link {
            display: block;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 2px solid #f1f1f1f1;
            position: relative; }

  /* Main container style for mediaSm */
  .main {
    padding: 0;
    float: left;
    width: 100%; }
    .main .wrap .title {
      float: left;
      width: 92%;
      padding: 0 4%; }
    .main .main-part {
      width: 100%;
      padding: 0 4%;
      float: left; }
      .main .main-part .part {
        float: left;
        width: 92%; }
      .main .main-part .sidebar {
        float: left;
        width: 92%;
        padding: 0 4%;
        min-height: 0;
        border-top: 1px solid #eaeaee;
        border-left: none;
        padding-bottom: 50px; }
    .main h1 {
      font-size: 1rem; }
    .main .row {
      padding: 15px; }
      .main .row .projects {
        grid-template-columns: 1fr; }
        .main .row .projects .item .description {
          bottom: -54px;
          padding: .5rem;
          font-size: 15px; }

  /* Footer style for mediaSm*/
  .main-footer {
    min-height: 120px;
    float: left; }
    .main-footer .container {
      width: 92%;
      padding: 0 4%; }
      .main-footer .container .soc-net {
        margin-bottom: 0;
        text-align: center; }
        .main-footer .container .soc-net li {
          display: inline; }
          .main-footer .container .soc-net li a img {
            width: 50px;
            height: 50px;
            margin-top: 15px; }
            .main-footer .container .soc-net li a img:hover {
              opacity: .7;
              transition: all .3s; }
          .main-footer .container .soc-net li span {
            display: none; }
      .main-footer .container .footer-bottom .back-to-top {
        margin-top: -5px; }
        .main-footer .container .footer-bottom .back-to-top .fa {
          visibility: hidden; }
          .main-footer .container .footer-bottom .back-to-top .fa.fa-chevron-up {
            visibility: visible; }
            .main-footer .container .footer-bottom .back-to-top .fa.fa-chevron-up:hover {
              color: #2A3B4E;
              transition: all .3s; } }
@media screen and (min-width: 769px) {
  /* Header style for media Md */
  .main-header .container {
    float: left;
    width: 92%;
    padding: 0 4%; }
    .main-header .container .logo .logo-image {
      z-index: 1; }

  /* Main container style for media Md */
  .main .wrap .title {
    float: left;
    width: 92%;
    padding: 0 4%; }
  .main .main-part {
    width: 100%;
    padding: 0 4%;
    float: left; }
    .main .main-part .part {
      float: left;
      width: 92%; }
  .main .row {
    padding: 15px; }
    .main .row .projects {
      grid-template-columns: repeat(2, 1fr); }
      .main .row .projects .item .description {
        font-size: 15px;
        padding: 5px; }

  .menu-btn {
    visibility: hidden; }

  .sm-menu {
    display: none; }

  .main-footer .row {
    padding: 0; } }
@media screen and (min-width: 992px) {
  .main .projects {
    grid-template-columns: repeat(3, 1fr); }

  .menu-btn {
    visibility: hidden; }

  .sm-menu {
    display: none; }

  .main-footer .wrapper .boxes .buffer-top {
    margin-right: 16px; }
    .main-footer .wrapper .boxes .buffer-top input[type="text"],
    .main-footer .wrapper .boxes .buffer-top input[type="email"],
    .main-footer .wrapper .boxes .buffer-top input[type="phone"] {
      display: inline-block;
      width: 32%;
      background-color: #f5f6f8;
      font-family: "Varela Round", sans-serif;
      padding: 10px 9px 9px;
      border-radius: 5px;
      border: none;
      outline: none; }
    .main-footer .wrapper .boxes .buffer-top input[type="text"],
    .main-footer .wrapper .boxes .buffer-top input[type="email"] {
      margin-bottom: 0px;
      margin-right: 5px; } }
@media screen and (min-width: 1200px) {
  .projects {
    grid-template-columns: repeat(2, 1fr); }

  .menu-btn {
    visibility: hidden; }

  .sm-menu {
    display: none; } }

/*# sourceMappingURL=main-ref.css.map */
